{
  "last_opened_file": "C:/Users/milespm/Documents/VSCode/Storyboard/Windows build/dist/storyboard/My Project/Example.json",
  "reopen_behavior": "ask",
  "window_size": "1200x800",
  "fullscreen": false,
  "auto_collapse_vfs": false,
  "theme": "dark",
  "label_defaults": {
    "color": "#ffffff",
    "size": 12,
    "border": true,
    "bg_color": "#000000",
    "border_color": "#ffffff"
  }
}